<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 商户信息[merchant_info]SQLMapper自动映射 -->
<mapper namespace="com.ysepay.smgateway.dao.mapper.Merchant_infoMapper">
	
	<!-- 插入一个数据持久化对象(插入字段为传入PO实体的非空属性) -->
	<insert id="insert"  parameterType="Merchant_infoPO">
		INSERT INTO merchant_info (
		<if test="merchant_name != null and merchant_name != ''">
	         merchant_name, <!-- 商户名称 -->
		</if>
		<if test="merchant_no != null and merchant_no != ''">
	         merchant_no, <!-- 商户号 -->
		</if>
		<if test="merchant_pwd != null and merchant_pwd != ''">
	         merchant_pwd, <!-- 商户密码 -->
		</if>
		<if test="mercant_address != null and mercant_address != ''">
	         mercant_address, <!-- 商户地址 -->
		</if>
		<if test="merchant_contact != null and merchant_contact != ''">
	         merchant_contact, <!-- 商户联系人 -->
		</if>
		<if test="merchant_mobile != null and merchant_mobile != ''">
	         merchant_mobile, <!-- 商户联系人电话 -->
		</if>
		<if test="merchant_status != null and merchant_status != ''">
	         merchant_status, <!-- 商户状态(0:正常 1:停用 2:短信余额已经用完) -->
		</if>
		<if test="create_time != null">
	         create_time, <!-- 商户创建时间 -->
		</if>
		<if test="msg_balance != null">
	         msg_balance, <!-- 商户短信余额 -->
		</if>
		)VALUES(
		<if test="merchant_name != null and merchant_name != ''">
	          #{merchant_name, jdbcType=VARCHAR}, <!-- 商户名称 -->
	    </if>
		<if test="merchant_no != null and merchant_no != ''">
	          #{merchant_no, jdbcType=VARCHAR}, <!-- 商户号 -->
	    </if>
		<if test="merchant_pwd != null and merchant_pwd != ''">
	          #{merchant_pwd, jdbcType=VARCHAR}, <!-- 商户密码 -->
	    </if>
		<if test="mercant_address != null and mercant_address != ''">
	          #{mercant_address, jdbcType=VARCHAR}, <!-- 商户地址 -->
	    </if>
		<if test="merchant_contact != null and merchant_contact != ''">
	          #{merchant_contact, jdbcType=VARCHAR}, <!-- 商户联系人 -->
	    </if>
		<if test="merchant_mobile != null and merchant_mobile != ''">
	          #{merchant_mobile, jdbcType=VARCHAR}, <!-- 商户联系人电话 -->
	    </if>
		<if test="merchant_status != null and merchant_status != ''">
	          #{merchant_status, jdbcType=VARCHAR}, <!-- 商户状态(0:正常 1:停用 2:短信余额已经用完) -->
	    </if>
		<if test="create_time != null">
	          #{create_time, jdbcType=DATE}, <!-- 商户创建时间 -->
	    </if>
		<if test="msg_balance != null">
	          #{msg_balance, jdbcType=NUMERIC}, <!-- 商户短信余额 -->
	    </if>
		)
	</insert>
	
	<!-- 根据主键修改数据持久化对象 -->
	<update id="updateByKey" parameterType="Merchant_infoPO">
		UPDATE merchant_info
		<set>
			<if test="merchant_name != null">
		          merchant_name = #{merchant_name, jdbcType=VARCHAR},  <!-- 商户名称 -->
			</if>
			<if test="merchant_no != null">
		          merchant_no = #{merchant_no, jdbcType=VARCHAR},  <!-- 商户号 -->
			</if>
			<if test="merchant_pwd != null">
		          merchant_pwd = #{merchant_pwd, jdbcType=VARCHAR},  <!-- 商户密码 -->
			</if>
			<if test="mercant_address != null">
		          mercant_address = #{mercant_address, jdbcType=VARCHAR},  <!-- 商户地址 -->
			</if>
			<if test="merchant_contact != null">
		          merchant_contact = #{merchant_contact, jdbcType=VARCHAR},  <!-- 商户联系人 -->
			</if>
			<if test="merchant_mobile != null">
		          merchant_mobile = #{merchant_mobile, jdbcType=VARCHAR},  <!-- 商户联系人电话 -->
			</if>
			<if test="merchant_status != null">
		          merchant_status = #{merchant_status, jdbcType=VARCHAR},  <!-- 商户状态(0:正常 1:停用 2:短信余额已经用完) -->
			</if>
			<if test="create_time != null">
		          create_time = #{create_time, jdbcType=DATE},  <!-- 商户创建时间 -->
			</if>
			<if test="msg_balance != null">
		          msg_balance = #{msg_balance, jdbcType=NUMERIC},  <!-- 商户短信余额 -->
			</if>
		</set>
		WHERE 
	</update>
	
	<!-- 根据主键删除数据持久化对象 -->
	<delete id="deleteByKey">
		DELETE FROM merchant_info WHERE 
	</delete>
</mapper>